* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 90px;
    background: gray;
    color: greenyellow;
}

h1 {
    font-size: 250%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav a {
    padding: 0px 20px;
    color: greenyellow;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

main {
    max-width: fit-content;
    margin: auto;
    display: flexbox;
}

h2 {
    color: black;
    font-size: 175%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    position: absolute;
    top: 195px;
    left: 890px;
}

.box {
    background: greenyellow;
    padding: 85px;
}

.Aboutme {
    display: inline-flex;
    background: lightgray;
}

.textbox {
    display: inline;
    flex: 1;
    margin-left: 50px;
    
}

.Work {
    display: inline-flex;
    background: lightgray;
}

.Contactme {
    display: inline-flex;
    background: lightgray;
}

h3{
    text-align: left;
    font-size: 50px;
}

p {
   text-align: right;
   
}

